.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #3765c2;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.App-link {
  color: #61dafb;
}

table {
  margin: auto;
}
h1 {
  background-color: rgb(85, 218, 145);
  height: 10vh;
}
body{
  background-color: rgb(255, 255, 255);
}
button{
  background-color: rgb(40, 150, 73);
  text-decoration-color: #3765c2;
}